.single-banner {
    $padding-top: (320px: 55px, 1200px: 130px);
    $padding-bottom: (320px: 55px, 1200px: 130px);
    @include poly-fluid-sizing('padding-top', $padding-top);
    @include poly-fluid-sizing('padding-bottom', $padding-bottom);
    background: $secondary-colour;

    .row {
        width: 100%;
    }

    .main-heading {
        color: white;
        margin-bottom: 20px;
    }
}

.single-content {
    $padding-top: (320px: 60px, 1200px: 112px);
    $padding-bottom: (320px: 60px, 1200px: 112px);
    @include poly-fluid-sizing('padding-top', $padding-top);
    @include poly-fluid-sizing('padding-bottom', $padding-bottom);

    .main-heading {
        color: $primary-colour;
    }

    .feat-img {
        height: 55vw;
        max-height: 320px;
    }

    .entry-content {
        margin-top: 30px;
    }

    a {
        color: $secondary-colour;
    }

    h2,h3,h4,h5,h6 {
        $map: (320px: 20px, 1200px: 26px);
        @include poly-fluid-sizing('font-size', $map);
    }

    .single-gallery {
        margin-top: 45px;

        li {
            max-width:80%;
            flex-basis: 80%;
            margin: 0 0 1% 10%;
            padding-bottom: 80%;
        }
    }
}
