.ftr--items {

    > li {
        $map: (320px: 14px, 767px: 16px, 768px: 13px, 992px: 15px, 1200px: 17px);
        @include poly-fluid-sizing('font-size', $map);
        text-transform: uppercase;
        @include sansSemiBold();
        margin-bottom: 15px;

        &.menu-item-has-children,
        &:last-child {
            margin-bottom: 0;
        }

        a {
            color: $main-text;
        }
    }

    .sub-menu {
        padding: 15px 0;

        li {
            $map: (320px: 12px, 1200px: 14px);
            @include poly-fluid-sizing('font-size', $map);
            @include bodyText();
            margin-bottom: 12px;
            text-transform: initial;

            &:last-child {
                margin-bottom:0;
            }
        }
    }
}

.footer {
    $padding-top: (320px: 60px, 1200px: 112px);
    $padding-bottom: (320px: 40px, 768px: 30px, 1200px: 20px);
    @include poly-fluid-sizing('padding-top', $padding-top);
    @include poly-fluid-sizing('padding-bottom', $padding-bottom);
    background: $white;

    .social-col {
        margin-bottom: 25px;

        a {
            padding: 10px;
            border-radius: 50%;
            border: 1px solid #005aa0;
            transition: all .3s ease;

            svg {
                transition: all .3s ease;
                fill: #005aa0;
            }
        }

        .section-skew {
            z-index: 0;
        }
    }

    .optima-link {

        p {
           @include sansSemiBold();
           $map: (320px: 14px, 1200px: 17px);
           @include poly-fluid-sizing('font-size', $map);
           text-transform: uppercase;
           margin-top: 30px;
        }

        a {
            color: $copyright-blue;
        }
    }

    .footer-brand-img {
        margin: 20px 0 45px;

        img {
            max-width: 395px;
        }
    }
}

.copyright {
    $map: (320px: 10px, 1200px: 13px);
    @include poly-fluid-sizing('font-size', $map);

    a {
        color: $main-text;
    }
}

.design-by {
    margin-top: 10px;
}


