.header {
    height: 60px;
    position: fixed;
    width: 100%;
    background: $white;
    z-index: 10;

    .row {
        align-items: center;
    }

    .button {
        margin: 0;
        text-transform: uppercase;
    }
}

.site-logo {
    width: 195px;
    height: auto;
}

.mobile-search {
    padding: 0 15px;
}


.global-search-form {

    span {
        //position:relative;
        display: inline-block;
        background: transparent;
        border-radius: 30px;
        height: 14px;
        width: 14px;
        border: 1px solid $off-grey;
        margin: 0;
        position: absolute;
        top: 48%;
        left: 8px;
        transform: translate(0, -50%);

        &:after {
          content: "";
          height: 1px;
          width: 8px;
          background: $off-grey;
          position: absolute;
          top: 13px;
          left: 9px;
          transform: rotate(45deg);
        }
    }

    input {
        border: none;
        padding: 0 0 0 30px;
        width: 190px;
        background: $search-grey;
        border-radius: 40px;
        font-size: 16px;
        height: 50px;

        &:focus {
            outline: 0;
        }
    }
}

.mobile-search {

    input {
        width: 100%;
    }

    .button {
        display: inline-block;
        width: 100%;
    }
}
