// --------------------------------------------------------------------------
// Fonts Weight
// --------------------------------------------------------------------------
$thin    : 100;
$light   : 300;
$normal  : 400;
$regular : 400;
$medium  : 500;
$semi    : 600;
$bold    : 700;
$x-bold  : 900;


/*
|----------------------------------------------------------------
|  Open Sans: regular(400), semibold(600), and semibold italic
|  Playfair: bold(700)
|----------------------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');


/*
|----------------------------------------------------------------
|  Mixins
|----------------------------------------------------------------
*/

@mixin headingFont() {
    font-family: 'Playfair Display', serif;
    font-weight:  $bold;
}

@mixin bodyText() {
    font-family: 'Open Sans', sans-serif;
    font-weight:  $normal;
}

@mixin bodyTextItalic() {
    font-family: 'Open Sans', sans-serif;
    font-weight:  $semi;
    font-style: italic;
}

@mixin sansSemiBold() {
    font-family: 'Open Sans', sans-serif;
    font-weight:  $semi;
    font-style: normal;
}

@mixin buttonsFont() {
    font-family: 'Open Sans', sans-serif;
    font-weight:  $semi;
}

