html {
  line-height: 1.3;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba($black, 0);
  margin: 0;
}

body {
    margin: 0;
    @include bodyText();
    -webkit-font-smoothing: antialiased;
    min-width: 320px;
    color: $main-text;
    direction: ltr;
    text-align: left;
    background-color: #fff;
}

.main {
    margin-top: 60px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

section {
    $padding-top: (320px: 60px, 1200px: 112px);
    $padding-bottom: (320px: 60px, 1200px: 112px);
    @include poly-fluid-sizing('padding-top', $padding-top);
    @include poly-fluid-sizing('padding-bottom', $padding-bottom);

    &.reduced-padding {
        $padding-top: (320px: 50px, 1200px: 60px);
        $padding-bottom: (320px: 50px, 1200px: 60px);
        @include poly-fluid-sizing('padding-top', $padding-top);
        @include poly-fluid-sizing('padding-bottom', $padding-bottom);
    }
}

.theme-wrap {
    width: 100%;
    overflow-x: hidden !important;
}

.background-center {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.is-on-top {
    position: relative;
    z-index: 1;
}

.row-center {
    justify-content: center;
}

.flex-center-vertical {
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-padding {
    padding: 0;
}

.no-padding-top {
    padding-top: 0;
}
.no-padding-bottom {
    padding-bottom: 0;
}

.no-margin {
    margin: 0;
}

.is-relative {
    position: relative;
}

.is-absolute {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.has-absolute-before {
    position: relative;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.has-absolute-after {
    position: relative;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
    }
}

.img-circle {
    border-radius: 50%;
}

.chevron-down {
    color: $chevron;
    width:9px;
    height:9px;
    transform: rotate(135deg);
    border-right: 2px solid $chevron;
    border-top: 2px solid $chevron;
    display:block;
}

.sticky-book-btn {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $primary-colour;
    z-index: 2;
    box-shadow: 0px -1px 5px 0px rgba(50, 50, 50, 0.75);

    .button {
        border: 1px solid $white;
        margin: 8px 0;
    }
}
