/*
|----------------------------------------------------------------
|  Lists
|----------------------------------------------------------------
*/

ol,
ul,
dl {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    margin-bottom: 25px;
    $font-size: (320px: 16px, 1200px: 20px);
    @include poly-fluid-sizing('font-size', $font-size);
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

.check-list {

    li {
        padding-left: 25px;
        margin-bottom: 15px;

        &:before {
            transform: scaleX(-1) rotate(135deg);
            transform-origin: left top;
            border-right: 3px solid $primary-colour;
            border-top: 3px solid $primary-colour;
            content: "";
            display: block;
            height: 18px;
            left: 0;
            position: absolute;
            top: 9px;
            width: 9px;
        }
    }
}

.custom-bullet-lists {

    ul {
        padding-left: 25px;
        margin-bottom: 25px;

        li {
            position: relative;

            &:before {
                content: '•';
                font-size: 18px;
                color: $primary-colour;
                position: absolute;
                top: -1px;
                left: -15px;
            }
        }
    }

    ol {
        padding-left: 25px;
        margin-bottom: 25px;
        counter-reset: my-counter;

        li {

            &:before {
                content: counter(my-counter) '.';
                counter-increment: my-counter;
                top: 1px;
                left: -5px;
                position: relative;
                color: $primary-colour;
            }
        }
    }
}
