section {
    // $padding-top: (320px: 40px, 768px: 60px, 992px: 72px, 1300px: 84px);
    // $padding-bottom: (320px: 40px, 768px: 60px, 992px: 72px, 1300px: 84px);
    // @include poly-fluid-sizing('padding-top', $padding-top);
    // @include poly-fluid-sizing('padding-bottom', $padding-bottom);

    &.double-space {
        // $padding-top: (320px: 80px, 768px: 120px, 992px: 144px, 1300px: 168px);
        // $padding-bottom: (320px: 80px, 768px: 120px, 992px: 144px, 1300px: 168px);
        // $margin-top: (320px: 40px, 768px: 60px, 992px: 72px, 1300px: 84px);
        // $margin-bottom: (320px: 40px, 768px: 60px, 992px: 72px, 1300px: 84px);
        // @include poly-fluid-sizing('margin-top', $margin-top);
        // @include poly-fluid-sizing('margin-bottom', $margin-bottom);
        // @include poly-fluid-sizing('padding-top', $padding-top);
        // @include poly-fluid-sizing('padding-bottom', $padding-bottom);
    }

    &.first-section {
        // padding-top: 0;
    }

    &.last-section {
       // padding-bottom: 0;
    }

    &.add-top-padding {
       // $padding-top: (320px: 80px, 768px: 120px, 992px: 144px, 1300px: 168px);
       // @include poly-fluid-sizing('padding-top', $padding-top);
    }

    &.no-margin-top {
      //  margin-top: 0;
    }

    &.no-margin-bottom {
       // margin-bottom: 0;
    }
}
