// --------------------------------------------------------------------------
// Global
// --------------------------------------------------------------------------
.is-uppercase {
    text-transform: uppercase;
}

b,
strong {
    @include sansSemiBold();
}

em, i {
    @include bodyTextItalic();
}

.text-center {
    text-align: center;
}

.has-underline {
    position: relative;
    margin-bottom: 45px;

    &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 170px;
        border-top: 1px solid currentColor;
    }
}


// --------------------------------------------------------------------------
// Headings
// --------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px 0;
    @include headingFont();
}

h1 {

}

h2,
.h2 {
    $map: (320px: 25px, 1200px: 35px);
    @include poly-fluid-sizing('font-size', $map);
}

h5
.h5 {
    $font-size: (320px: 18px, 1200px: 20px);
    @include poly-fluid-sizing('font-size', $font-size);
}


.block-heading {
    background: $primary-colour;
    color: $white;
    padding: 10px 20px;
    @include sansSemiBold();
    $font-size: (320px: 18px, 1200px: 20px);
    @include poly-fluid-sizing('font-size', $font-size);
    margin-bottom: 24px;
    border-radius: 8px;
    text-transform: uppercase;
}


/*
|----------------------------------------------------------------
|  Paragraph
|----------------------------------------------------------------
*/
 p {
    margin: 0;
    margin-bottom: 25px;
    $font-size: (320px: 16px, 1200px: 20px);
    @include poly-fluid-sizing('font-size', $font-size);
    line-height: 1.5;

    &:last-of-type {
        margin-bottom: 0;
    }

    &:empty {
        display: none;
    }

    a {
        color: $primary-colour;
    }

    // &.intro-text {

    // }
 }

/*
|----------------------------------------------------------------
|  Links
|----------------------------------------------------------------
*/

a {
    text-decoration: none;
    -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.
    transition: all 275ms ease;

    &:hover, &:focus, &:active {
        text-decoration: none;
    }
}

.read-more {
    margin-top: 12px;
    font-weight: $bold;
    display: inline-flex;
}
