/*=========================================================================
**** ANY CHANGES HERE NEED TO BE REFLECTED IN THE EXTRAS COLOUR SWATCH
=========================================================================*/


//Standard colours
//=====================================
$white : #fff;
$search-grey : #e2e8eb;
$dark-grey : #7f8d9b;
$off-grey : #8693a0;
$header-grey : #e1e1e1;
$black : #000;
$chevron : #47494d; // blog categories
$copyright-blue : #005aa0;

//Primary Theme Colours
$primary-colour : #5c2832;
$secondary-colour: #d07945;
$tertiary-colour : #858b72;
$grey : #f2f0f0;

//Typography:
$main-text : #303338;
$main-text-link-colour : #2684fe;


// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;
