.accordion {
    margin-top: 5px;

   > li {
        position: relative;
        background: $white;
        $margin-bottom: (320px: 25px, 768px: 35px);
        @include poly-fluid-sizing('margin-bottom', $margin-bottom);
        @include sansSemiBold();

        &:last-child {
            margin-bottom: 0;
        }

        > a {
            position: relative;
            display: block;
            cursor: pointer;
            user-select: none;
            padding: 15px 25px;
            border: 1px solid $primary-colour;
            align-items: center;

            span {
                display: block;
                width: 88%;
                $font-size: (320px: 18px, 1200px: 25px);
                @include poly-fluid-sizing('font-size', $font-size);
                transition: all .25s ease;
                color: $primary-colour;
            }

            .chevron-down {
                border-color: $primary-colour;
                width: 14px;
                height: 14px;
                position: relative;
                margin-left: auto;
                top: -2px;
            }

            &.active {

                .chevron-down {
                    transform: rotate(-45deg);
                    top: 2.5px;
                }
            }
        }

        ul,ol {

            a {
                color: $secondary-colour;
            }
        }

        .content-wrap {
            display: none;
            padding:  25px;
            line-height: 1.63;
            background: $grey;
            font-weight: 400;

            ul {
                padding-left: 25px;
                margin-bottom: 25px;

                li {
                    position: relative;

                    &:before {
                        content: '•';
                        font-size: 18px;
                        color: $primary-colour;
                        position: absolute;
                        top: -1px;
                        left: -15px;
                    }
                }
            }

            ol {
                padding-left: 25px;
                margin-bottom: 25px;
                counter-reset: my-counter;

                li {

                    &:before {
                        content: counter(my-counter) '.';
                        counter-increment: my-counter;
                        top: 1px;
                        left: -5px;
                        position: relative;
                        color: $primary-colour;
                    }
                }
            }
        }
    }
}
