.button {
    font-size: 16px;
    margin-top: 20px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-shadow: none;
    outline: none;
    color: $white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 22px;
    border-radius: 3px;
    border: 1px solid transparent;
    text-transform: uppercase;
    @include buttonsFont();

    &.primary {
        background: $primary-colour;
    }

    &.secondary {
        background: $secondary-colour;
    }

    &.tertiary {
        background: $tertiary-colour;
    }
}
