::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $off-grey;
  @include sansSemiBold();
  font-size: 16px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $off-grey;
  @include sansSemiBold();
  font-size: 16px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $off-grey;
  @include sansSemiBold();
  font-size: 16px;
}
:-moz-placeholder { /* Firefox 18- */
  color: $off-grey;
  @include sansSemiBold();
  font-size: 16px;
}

.gform_validation_container { // honeypot
    display: none !important;
}

.validation_message {
    color: red;
}
// .gform_validation_container, .gform_wrapper .gform_validation_container, body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container, body .gform_wrapper li.gform_validation_container, body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container {
//     display: none!important;
//     position: absolute!important;
//     left: -9000px;
// }

[type="text"],
[type="url"],
[type="email"],
[type="tel"],
[type="number"],
[type="password"],
[type="search"],
select,
textarea {
    transition-duration: .28s;
    transition-property: background-color, color, border, opacity, transform;
    box-shadow: none;
    border-radius: none;
    outline: none;
    border: 0;
    border: 1px solid $primary-colour;
    background: white;
    padding: 10px 12px;
    border-radius: 20px;
    width: 100%;
    appearance: none;

    &:focus {
        outline: none;
    }
}

textarea {
    border: 1px solid $primary-colour;
    border-radius: 15px;
    padding: 10px 12px;
    color: $main-text;
}

select::-ms-expand {
    display: none;
}

select {
    appearance: none;
    appearance: none;
    padding-right: 35px;
    background-image: url('../images/select-icon.png');
    background-position: calc( 100% - 10px ) center;
    background-repeat: no-repeat;
    cursor: pointer;
    color: $off-grey;
    @include sansSemiBold();
    font-size: 16px;
}

.gfield {

    .gfield_label {
        letter-spacing: 0.6px;
        color: $primary-colour;
        margin-bottom: 10px;
        @include sansSemiBold();
        $map: (320px: 16px, 1200px: 20px);
        @include poly-fluid-sizing('font-size', $map);
        display: block;
    }

    .gfield_required {
        position: relative;
        top: 0px;
        right: -2px;
        line-height: 1;
        font-size: 17px;
    }
}

.gfield.has-icon-after {
    position: relative;

    &:after {
        width: 8px;
        height: 8px;
        border-right: 1px solid $main-text;
        border-bottom: 1px solid $main-text;
        position: absolute;
        content: '';
        right: 25px;
        top: 14px;
        transform: rotate(45deg);
    }
}

.form-end-icon {
    width: 90px;
    height: 90px;
    //background: $light-grey;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    &:after {
        content: "n";
        //color: $med-grey;
        font-size: 30px;
        position: relative;
        top: -17px;
    }
}
