.pre-footer-contact-callout {

    h2, a {
        color: $white;
    }

    .button {
        margin-top: -10px;
    }

    .address-col {
        margin-top: 35px;
    }
}

.contact-details-global-list {

    li {
        position: relative;
        padding-left: 40px;
        $map: (320px: 16px, 1200px: 18px);
        @include poly-fluid-sizing('font-size', $map);
        color: $white;

        a {
           color: $white;
        }

        &:last-child {
            margin-bottom: 0;
        }

       span {
            position: absolute;
            top: 0;
            left: 0;
            @include sansSemiBold();
            color: $primary-colour;
            text-transform: uppercase;
       }
    }
}
