.page-404 {

    .content-wrap {
        min-height: calc(75vh - 60px);
    }

    img {
        width: 50%;
        max-width: 200px;
        height: auto;
    }

    .main-heading {
        margin-top: 35px;

        span {
            display: inline;
        }
    }
}
