.amenities-gallery {

    .main-heading {
        margin-bottom: 65px;
    }

    li {
        flex-basis: 49%;
        max-width: 49%;
        padding-bottom: 49%;

        &:nth-child(odd) {
            margin-right: 2%;
        }
    }
}
