/*
|----------------------------------------------------------------
|  Blog Categories
|----------------------------------------------------------------
*/

.blog-categories {

    p {
        background: $tertiary-colour;
        color: $white;
        padding: 12px 10px;
        @include sansSemiBold();
        font-size: 14px;
    }

    .cat-wrap {
        background: $grey;
        flex: 1;
    }
}

.mobile-cat-nav {
    background: transparent;
    border: none;
    color: $primary-colour;
    padding: 0 15px;
    outline: 0;
    cursor: pointer;
    @include sansSemiBold();
    font-size: 14px;
    width: 100%;

    .chevron-down {
        margin-left: auto;
        top: 3px;
    }

    &.cat-nav-open {

        .chevron-down {
            transform: rotate(-45deg);
            top: 6px;
        }
    }
}

.blog-cat-menu {
    background: $white;
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    z-index: 5;
    border-left: 1px solid $grey;
    border-right: 1px solid $grey;

    .blog-cat-list {
        margin: 0;
        overflow: hidden;
        display: block;

        &.show-nav-cat {
            display: block;
        }

        .cat-item {
            margin: 0;
            display: block;
            border: none;
            border-bottom: 1px solid $grey;
            text-align: center;
            font-size:14px;
            transform: scale(1.15) translateY(-30px);
            opacity: 0;
            transition: transform .5s cubic-bezier(.4,.01,.165,.99),opacity .6s cubic-bezier(.4,.01,.165,.99);

            &.active {
                display: none;
            }

            &.li-open {
                transform: scale(1) translateY(0);
                opacity: 1;

                &:first-of-type {
                    transition-delay: .27s;
                }
                &:nth-child(2) {
                    transition-delay: .34s;
                }
                &:nth-child(3) {
                    transition-delay: .41s;
                }
                &:nth-child(4) {
                    transition-delay: .48s;
                }
                &:nth-child(5) {
                    transition-delay: .55s;
                }
                &:nth-child(6) {
                    transition-delay: .62s;
                }
                &:nth-child(7) {
                    transition-delay: .69s;
                }
            }

            a {
                color: $main-text;
                display: block;
                padding: 15px 0;
            }
        }
    }
}

/*
|----------------------------------------------------------------
|  Articles
|----------------------------------------------------------------
*/

.loop-article {
    $padding-top: (320px: 45px, 1200px: 80px);
    $padding-bottom: (320px: 45px, 1200px: 80px);
    @include poly-fluid-sizing('padding-top', $padding-top);
    @include poly-fluid-sizing('padding-bottom', $padding-bottom);
    border-bottom: 1px solid $header-grey;

    .bg-img {
        height: 55vw;
        margin-bottom: 35px;
    }

    .entry-title {
        $map: (320px: 23px, 1200px: 28px);
        @include poly-fluid-sizing('font-size', $map);

        a {
            color: $primary-colour;
        }
    }
}

/*
|----------------------------------------------------------------
|  Pagination
|----------------------------------------------------------------
*/

.pagination-wrapper {
    margin: 40px 0 55px;


    .page-numbers,
    .current {
        width: 40px;
        height: 40px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: $white;
    }

    .page-numbers {
        background: $tertiary-colour;
        margin-left: 6px;
        @include sansSemiBold();

        &.current {
            background: $white;
            border: 1px solid $tertiary-colour;
            color: $tertiary-colour;
        }
    }

    .pagi-group-btn {
        position: absolute;
        bottom: -55px;

        &.prev {
            left: 15px;
        }

        &.next {
            right: 15px;
        }

        .link-disabled {
            color: #ebebeb;
            cursor: not-allowed;
        }

        a, p {
            color: $tertiary-colour;
            font-weight: $bold;
            font-size: 18px;
        }
    }
}

