.contact-intro {

    .bg-img {
        height: 45vw;
        width: 100vw;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }

    .content-wrap {
        padding: 40px 0;
    }
}

.google-map {
    height: 300px;
}

.contact-form {
    background: $grey;

    .main-heading {
        color: $primary-colour;
    }

    form {
        margin-top: 45px;
    }

    .is-flex {
        display: flex;
    }

    .gfield_radio {
        display: flex;

        li {
            margin-bottom: 0;
        }

        input[type=radio]{
            position: absolute;
            visibility: hidden;
        }

        label {
            display: block;
            position: relative;
            padding: 0 25px 0 40px;
            z-index: 9;
            cursor: pointer;
            transition: all 0.25s linear;
        }

        .check {
            display: block;
            position: absolute;
            border: 3px solid $primary-colour;
            border-radius: 100%;
            height: 20px;
            width: 20px;
            top: 2px;
            left: 12px;
            z-index: 5;
            transition: all .25s linear;
        }

        li {
            margin-left: 15px;
            position: relative;
        }
    }

    input[type=radio]:checked ~ .check {
      border: 3px solid $primary-colour;
      background:  $primary-colour;
    }

    input[type=radio]:checked ~ .check::before{
      background: $primary-colour;
    }
}
