.form-received-pg {
    background: $primary-colour;
    padding: 20vh 0;

    img {
        width: 95px;
        height: auto;
        margin-bottom: 40px;
    }

    .title {
        color: $white;
    }

    p {
        color: $white;
    }
}

