.healthcare-service-wrap {

    .block-heading {
        margin-top: 35px;
    }
}

.healthcare-service-list {

    li {
        flex-basis: 50%;
        max-width: 50%;
        text-align: center;
    }

    img {
        width: 120px;
        height: 120px;
    }

    .service {
        color: $primary-colour;
        $font-size: (320px: 18px, 1200px: 20px);
        @include poly-fluid-sizing('font-size', $font-size);
        @include sansSemiBold();
    }
}

.page-template-template-healthcare-services {

    .amenities-gallery {
        padding-top: 0;

        .main-heading {
            color: $primary-colour;
        }
    }
}
