.hp-faq {

    .img-col {
        text-align: right;
        margin-right: 35%;
    }

    img {
        margin-bottom: 40px;
        max-width: 170px;
    }
}

.hp-lifestyle {

    li {
        flex-basis: 48%;
        max-width: 48%;

        &:nth-child(odd) {
            margin-right: 4%;
        }
    }

    .title {
        @include sansSemiBold();
        $map: (320px: 17px, 1200px: 20px);
        @include poly-fluid-sizing('font-size', $map);
        margin-top: 5px;
    }
}


.hp-blog {

    .cat-link {
        padding-bottom: 100%;
    }
}
