.search-results-pg {

    .search-heading {
        @include sansSemiBold();
        color: $primary-colour;
        margin-bottom: 10px;
        $font-size: (320px: 20px, 1200px: 24px);
        @include poly-fluid-sizing('font-size', $font-size);
    }

    .global-search-form {

        .search-bar {
            width: 100%;
            background: $white;
            border: 1px solid $primary-colour;
        }

        .filter-submit {
            width: 100%;
            border-radius: 20px;
        }
    }

    .total-results {
        margin: 75px 0 45px;
        color: $primary-colour;
        @include sansSemiBold();
        border-bottom: 1px solid $primary-colour;
    }

    .search-article {
        border-bottom: 1px solid $dark-grey;
        padding-bottom: 45px;
        margin-bottom: 45px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .search-entry-title {
        $font-size: (320px: 20px, 1200px: 22px);
        @include poly-fluid-sizing('font-size', $font-size);
        @include sansSemiBold();

        a {
            color: $primary-colour;
        }
    }
}
