/*
|----------------------------------------------------------------
|  Amenities
|----------------------------------------------------------------
*/
.suite-amenities-wrap {

    .intro-block {
        padding-bottom: 0;
    }
}


.my-suite-amenities {
    padding: 40px 0 25px;

    .right-col {
        margin-top: 45px;
    }

    li {
        margin-bottom: 17px;
    }
}

/*
|----------------------------------------------------------------
|  Suite Details
|----------------------------------------------------------------
*/
.my-suit-details {
    margin-top: 45px;

    * {
        $font-size: (320px: 18px, 1200px: 20px);
        @include poly-fluid-sizing('font-size', $font-size);
    }

    li {
        padding: 35px 0;
        border-top: 1px solid $primary-colour;
        margin: 0;

        &:last-child {
            border-bottom: 1px solid $primary-colour;
        }

        .room-name {
            @include sansSemiBold();
            color: $primary-colour;
        }
    }
}
