@media (min-width: 1400px)  {

    /*
    |----------------------------------------------------------------
    | Banner
    |-----------------------------------------------------------------
    */
    .page-banner {
        $map: (1400px: 725px, 1620px: 770px);
        @include poly-fluid-sizing('height', $map);
    }

    /*
    |----------------------------------------------------------------
    | Blog
    |-----------------------------------------------------------------
    */
    .loop-article {

        .bg-img {
            min-height: 315px;
        }
    }
}
