@media (min-width: 1620px)  {

    /*
    |----------------------------------------------------------------
    | Banner
    |-----------------------------------------------------------------
    */
    .theme-wrap {
        max-width: 1620px;
        margin: 0 auto;
    }
}
