@media (min-width: 400px)  {

    /*
    |----------------------------------------------------------------
    | Pagination
    |-----------------------------------------------------------------
    */
    .blog-categories {

        .cat-wrap {
            justify-content: flex-start;
        }
    }

    .mobile-cat-nav {
        padding-left: 20px;
    }
}
