@include media-breakpoint-up(xl) {

    .main {
        margin: 0;
    }

    /*
    |----------------------------------------------------------------
    | Typography
    |-----------------------------------------------------------------
    */
    .block-heading  {
         margin: 40px 0 35px;
    }

    a,
    .button {
        transition: all .3s ease;
    }

    /*
    |----------------------------------------------------------------
    | Header
    |-----------------------------------------------------------------
    */

    .header {
        padding: 20px 0;
        height: auto;
        border-bottom: 1px solid $header-grey;
        position: static;

        .button {
            position: fixed;
            $right: (1200px: 70px, 1600px: 70px, 3000px: 765px);
            @include poly-fluid-sizing('right', $right);
            top: 25px;
            z-index: 9999;
        }
    }

    .site-logo {
        width: 305px;
    }

    .right-col {
        padding-right: 70px;

        form {
            padding-right: 185px;
        }
    }

    /*
    |----------------------------------------------------------------
    | Navigation
    |-----------------------------------------------------------------
    */

    .gn--trigger {
        display: none;
    }

    .gn-wrap,
    .gn {
        display: block;
        position: static;
        background: $white;
        width: 100%;
    }

    .gn {
        overflow: visible !important;
        padding: 0;

        .sub-menu {

            .menu-item {
                padding-left: 0;
                margin: 0;
                border-bottom: 1px solid $header-grey;

                &:first-child {
                    padding: 0;
                }

                &:last-child {
                    border: none;
                    padding: 0;
                }
            }
        }
    }

    .gn--items {
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: flex-end;
        padding-right: 70px;

        .sub-trigger-wrap {
            display: none;
        }

        .menu-item {
            opacity: 1;
            font-size: 14px;
            margin: 0;
            position: relative;
            border-right: 1px solid $header-grey;

            &:first-child {
                border-left: 1px solid $header-grey;
            }

            &:hover {
                background: $primary-colour;

                > a {
                    color: $white !important;
                }

                .sub-menu {
                    transition: .35s;
                    transform: translateY(0);
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        .sub-menu {
            position: absolute;
            display: block !important;
            z-index: 10;
            width: auto;
            top: 46px;
            left: 0;
            min-width: 145%;
            transform: translateY(50%);
            transition-property: transform,opacity;
            visibility: hidden;
            opacity: 0;
            background: $grey;
            margin: 0;
            border: none;
        }
    }


    /*
    |----------------------------------------------------------------
    | Banner
    |-----------------------------------------------------------------
    */
    .page-banner {
        height: 600px;
    }

    /*
    |----------------------------------------------------------------
    | Homepage
    |-----------------------------------------------------------------
    */
    .hp-lifestyle {

        a {

            .title {
                transition: all .3s ease;
            }

            &:hover {

                .title {
                    color: $primary-colour !important;
                }
            }
        }
    }

    .hp-blog {

        li {

            &:after {
                transition: all .3s ease;
            }

            &:hover {
                cursor: pointer;

                &:after {
                    background: rgba(0,0,0,.43);
                }
            }
        }
    }

    /*
    |----------------------------------------------------------------
    | My Suite page
    |-----------------------------------------------------------------
    */
    .my-suite-amenities {

        .right-col {
            padding-right: 15px;
        }
    }

    /*
    |----------------------------------------------------------------
    | Pagination
    |-----------------------------------------------------------------
    */
    .pagination-wrapper {

        .pagi-group-btn {

            a {

                &:hover {
                    color: $primary-colour;
                }
            }
        }

        .page-numbers {
            transition: all .3s ease;

            &:not(.current) {

                &:hover {
                    background: $primary-colour;
                }
            }
        }
    }

    /*
    |----------------------------------------------------------------
    | Half and half image component
    |-----------------------------------------------------------------
    */
    .half-and-half-img {

        .image-col {
            max-height: 530px;
        }
    }

    /*
    |----------------------------------------------------------------
    | Buttons
    |-----------------------------------------------------------------
    */
    .button {

        &:hover {
            background: $white;
        }

        &.primary:hover {
            color: $primary-colour;
            border: 1px solid $primary-colour;
        }

        &.secondary:hover {
            color: $secondary-colour;
            border: 1px solid $secondary-colour;
        }

        &.tertiary:hover {
            color: $tertiary-colour;
            border: 1px solid $tertiary-colour;
        }
    }

    /*
    |----------------------------------------------------------------
    | Footer
    |-----------------------------------------------------------------
    */
    .footer {

        a:hover {
            text-decoration: underline;
        }

        .menu-item-has-children {

            >a {
                text-decoration: none;
            }
        }
    }
}
