@include media-breakpoint-up(lg) {

    /*
    |----------------------------------------------------------------
    | Banner
    |-----------------------------------------------------------------
    */
    .page-banner {
        height: 500px;
    }

    /*
    |----------------------------------------------------------------
    | Feature Image component
    |-----------------------------------------------------------------
    */
    .feature-image {
        height: 46vw;
        max-height: 580px;
    }

    /*
    |----------------------------------------------------------------
    | Contact Page
    |-----------------------------------------------------------------
    */
    .contact-intro {

        .bg-img {
            height: 25vw;
            max-height: 300px;
        }

        .content-wrap {
            padding: 55px 65px;
        }
    }

    /*
    |----------------------------------------------------------------
    | Forms
    |-----------------------------------------------------------------
    */
    .gform_fields {

        > li {
            margin-bottom: 30px;
        }
    }
}
