@include media-breakpoint-up(md) {

    /*
    |----------------------------------------------------------------
    | Banner
    |-----------------------------------------------------------------
    */
    .page-banner {
        height: 395px;
    }


    /*
    |----------------------------------------------------------------
    | Homepage
    |-----------------------------------------------------------------
    */
    .hp-faq {

        .img-col {
                margin-right: 0;
        }
    }

    .hp-lifestyle {

        li {
            flex-basis: 25%;
            max-width: 25%;
            margin: 0;

            &:nth-child(odd) {
                margin: 0;
            }
        }

        img {
            $width: (768px: 112px, 1200px: 120px);
            @include poly-fluid-sizing('width', $width);
        }
    }

    .hp-blog {

        li {
            flex-basis: 31%;
            max-width: 31%;
            margin: 0 3.5% 0 0;

            &:last-child {
                margin: 0;
            }
        }
    }

    /*
    |----------------------------------------------------------------
    | My Suite page
    |-----------------------------------------------------------------
    */
    .my-suite-amenities {

        .right-col {
            margin: 0;
        }
    }

    .my-suit-details {

        li {
            padding: 18px 0;
        }

        h6,
        p,
        a,
        button {
            margin: 0;
        }

        .room-name {
            flex-basis: 20%;
            max-width: 20%;
        }

        .room-count {
            flex-basis: 34%;
            max-width: 34%;
        }

        .size {
            flex: 1;
        }
    }

    /*
    |----------------------------------------------------------------
    | 404 Page
    |-----------------------------------------------------------------
    */
    .page-404 {

        .content {
            width: 100%;
            justify-content: center;
        }

        .main-heading {
            margin: 0 0 0 50px;

            span {
                display: block;
            }

            &:after {
                bottom: -30px;
            }
        }
    }

    /*
    |----------------------------------------------------------------
    | Blog
    |-----------------------------------------------------------------
    */

    .blog-categories {

        p {
            padding: 20px;
        }
    }

    .blog-cat-menu {
        top: 61px;
    }

    .loop-article {

        .bg-img {
            flex-basis: 40%;
            max-width: 40%;
            height: auto;
            min-height: 250px;
            margin: 0 5% 0 0;
        }

        .content {
            flex-basis: 55%;
            max-width: 55%;
        }
    }

    /*
    |----------------------------------------------------------------
    | Blog Single
    |-----------------------------------------------------------------
    */
    .single-content {

        .feat-img {
            height: 65vw;
            max-height: 500px;
        }
    }

    /*
    |----------------------------------------------------------------
    | Healthcare Services Template
    |-----------------------------------------------------------------
    */
    .healthcare-service-list {

        li {
            flex-basis: 25%;
            max-width: 25%;
        }
    }

    /*
    |----------------------------------------------------------------
    | Amenities Templage
    |-----------------------------------------------------------------
    */
    .amenities-gallery {

        li {
            flex-basis: 25%;
            max-width: 25%;
            padding-bottom: 25%;
            margin: 0;

            &:nth-child(3n+3),
            &:nth-child(3n+2) {
                margin-left: 0;
            }
        }
    }

    /*
    |----------------------------------------------------------------
    | Tools & Resources
    |-----------------------------------------------------------------
    */
    .tools-and-resources {

        .image {
            height: 40vw;
            max-height: 355px;
            margin: 0;
        }

        .content {
            padding-left: 30px;
        }
    }

    /*
    |----------------------------------------------------------------
    | Contact
    |-----------------------------------------------------------------
    */
    .contact-intro {

        .details {
            padding: 0;
        }

        .bg-img {
            height: 195px;
            width: 100%;
            position: static !important;
            margin: 0;
        }

        .content-wrap {
            padding: 25px 50px 40px;
        }

        .google-map {
            height: auto;
        }
    }

    .contact-form {

        .gfield_radio {

            li {

                &:last-child {
                    margin-left: 0
                }
            }
        }
    }

    /*
    |----------------------------------------------------------------
    | Search Results
    |-----------------------------------------------------------------
    */
    .search-results-pg {

        .search-bar {
            flex: 1;
            height: 42px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .filter-submit {
            flex-basis: 100px;
            max-width: 100px;
            height: 42px;
            margin: 0;
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    }


    /*
    |----------------------------------------------------------------
    | Pre-footer Callout
    |-----------------------------------------------------------------
    */
    .pre-footer-cta {
        padding: 0;

        .pre-footer-bg-img {
            padding: 0;
        }

        .content {
            $padding-top: (768px: 60px, 1200px: 90px);
            $padding-bottom: (768px: 60px, 1200px: 90px);
            @include poly-fluid-sizing('padding-top', $padding-top);
            @include poly-fluid-sizing('padding-bottom', $padding-bottom);
            padding-left: 40px;
        }

        .button {
            margin-top: 35px;
        }
    }

    /*
    |----------------------------------------------------------------
    | Pre-footer contact callout
    |-----------------------------------------------------------------
    */
    .pre-footer-contact-callout {

        .address-col {
            margin-top: 0;
        }
    }

    .contact-details-global-list {

        li {
            margin-bottom: 15px;
        }
    }

    /*
    |----------------------------------------------------------------
    | Content Callout Component
    |-----------------------------------------------------------------
    */
    .content-callout {

        .img-col {
            margin: 0;
        }
    }

    /*
    |----------------------------------------------------------------
    | Half and half image component
    |-----------------------------------------------------------------
    */
    .half-and-half-img {

        .image-col {
            max-height: 410px;
        }
    }

    /*
    |----------------------------------------------------------------
    | Forms
    |-----------------------------------------------------------------
    */
    .gform_fields {
        display: flex;
        flex-wrap: wrap;
    }
    .gf-half {
        flex-basis: 48%;
        max-width: 48%;

        &.gf-right {
            margin-left: auto;
        }
    }

    .gf-full {
        flex-basis: 100%;
        max-width: 100%;
    }


    /*
    |----------------------------------------------------------------
    | Form Received
    |-----------------------------------------------------------------
    */
    .form-received-pg  {
        padding: 30vh 0;

        img {
            margin:0 30px 0 0;
            width: auto;
            height: 180px;
        }
    }

    /*
    |----------------------------------------------------------------
    | Footer
    |-----------------------------------------------------------------
    */
    .ftr--items {
        display: flex;

        > li {
            $padding-left: (768px: 7px, 1200px: 25px);
            $padding-right: (768px: 7px, 1200px: 25px);
            @include poly-fluid-sizing('padding-left', $padding-left);
            @include poly-fluid-sizing('padding-right', $padding-right);

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }

            a {
                display: block;
            }
        }
    }

    .footer {

        .social-col {
            text-align: right;
            position: relative;
            top: -30px;
        }

        .legal-row {
            margin-top: 45px;
        }

        .footer-brand-img {
            margin: 0;
        }

        .optima-link {

            p {
                margin: 0;
            }
        }
    }
}
