@include media-breakpoint-up(sm) {

    /*
    |----------------------------------------------------------------
    | Banner
    |-----------------------------------------------------------------
    */
    .page-banner {
        height: 350px;
    }

    /*
    |----------------------------------------------------------------
    | Amenities Templage
    |-----------------------------------------------------------------
    */
    .amenities-gallery {

        li {
            flex-basis: 32%;
            max-width: 32%;
            padding-bottom: 32%;

            &:nth-child(odd) {
                margin-right: 0;
            }

            &:nth-child(3n+3),
            &:nth-child(3n+2) {
                margin-left: 2%;
            }
        }
    }

    /*
    |----------------------------------------------------------------
    | Blog
    |-----------------------------------------------------------------
    */
    .loop-article {

        .bg-img {
            height: 50vw;
        }
    }

    /*
    |----------------------------------------------------------------
    | Blog Single
    |-----------------------------------------------------------------
    */
    .single-content {

        .single-gallery {

            li {
                flex-basis: 33%;
                max-width: 33%;
                padding-bottom: 33%;
                margin: 0;
            }
        }
    }

    /*
    |----------------------------------------------------------------
    | Pagination
    |-----------------------------------------------------------------
    */

    .pagination-wrapper {
        margin: 55px 0 0;

         .page-numbers {
            margin-left: 12px;
         }

        .pagi-group-btn {
            position: static;
            margin: 0 14px;
        }
    }
}
